@page
@model MyOtherStore.Pages.Clients.createModel
@{
}

<br>
<h2>New Client</h2>
<!--17:29 YouTube stopping point-->
<forn method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class 

    </div>
</forn>
