################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.dll
*.exe

/myStore/.vs/**


/myStore/myStoreDatabase/obj/Debug/myStoreDatabase.dll
*/myStore/bin
*/bin/Debug
*/bin/*

/myStore/myStore/bin/Debug/net6.0/*
/myStore/myStoreDatabase/obj/Debug/*
/myStore/myStoreDatabase/bin/Debug/*

/myStore/.vs/myStore/FileContentIndex/*
/myStore/myStoreDatabase/bin/Debug/myStoreDatabase.dll
/myStore/myStore/obj/Debug/net6.0/ref/myStore.dll
/myStore/myStore/obj/Debug/net6.0/refint/myStore.dll
/myStore/myStore/obj/Debug/net6.0/*
/myStore/myStoreDatabase/bin/Debug/myStoreDatabase.pdb
/myStore/myStore/obj/Debug/net6.0/myStore.pdb
/myStore/.vs/myStore/FileContentIndex/*
/myStore/myStore/bin/Debug/net6.0/myStore.exe
/myStore/myStore/bin/Debug/net6.0/myStore.pdb
/myStore/myStore/bin/Debug/net6.0/appsettings.json
/myStore/myStore/bin/Debug/net6.0/myStore.deps.json
/myStore/myStore/bin/Debug/net6.0/myStore.staticwebassets.runtime.json
/myStore/myStore/obj/Debug/net6.0/myStore.assets.cache
/myStore/myStore/obj/Debug/net6.0/myStore.csproj.AssemblyReference.cache
/myStore/myStore/obj/Debug/net6.0/myStore.csproj.CoreCompileInputs.cache
/myStore/myStore/obj/Debug/net6.0/myStore.dll
/myStore/myStoreDatabase/obj/Debug/myStoreDatabase.sqlproj.FileListAbsolute.txt
/myStore/myStoreDatabase/obj/Debug/myStoreDatabase.sqlproj.AssemblyReference.cache
/myStore/.vs/myStore/v17/.futdcache.v2
/myStore/.vs/myStore/v17/.suo
/myStore/.vs/ProjectEvaluation/mystore.metadata.v5.2
/myStore/.vs/ProjectEvaluation/mystore.projects.v5.2
/myStore/myStore/obj/Debug/net6.0/myStore.csproj.FileListAbsolute.txt
/myStore/myStore/obj/Debug/net6.0/myStore.GeneratedMSBuildEditorConfig.editorconfig
/myStore/myStore/obj/Debug/net6.0/myStore.genruntimeconfig.cache
/myStore/myStore/obj/Debug/net6.0/staticwebassets.development.json
/myStore/myStore/obj/Debug/net6.0/staticwebassets.build.json
/myStore/myStore/obj/Debug/net6.0/staticwebassets.pack.json
/myStore/myStore/obj/project.nuget.cache
/myStore/myStoreDatabase/obj/Debug/Model.xml
/myStore/.vs/myStore/FileContentIndex/412b44da-14b9-4bbb-a41e-6d2512d8dcd7.vsidx
/myStore/.vs/myStore/FileContentIndex/9fcec48d-7b77-4d55-ab1b-75b88d5c3886.vsidx
/myStore/.vs/myStore/FileContentIndex/aa0d4fd6-af4f-4115-998b-c15f2dbe0fd6.vsidx
