################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.dll
*.exe

/myStore/.vs/**


/myStore/myStoreDatabase/obj/Debug/myStoreDatabase.dll
*/myStore/bin
*/bin/Debug
*/bin/*

/myStore/myStore/bin/Debug/net6.0/*
/myStore/myStoreDatabase/obj/Debug/*
/myStore/myStoreDatabase/bin/Debug/*


/myStore/myStoreDatabase/bin/Debug/myStoreDatabase.dll
/myStore/myStore/obj/Debug/net6.0/ref/myStore.dll
/myStore/myStore/obj/Debug/net6.0/refint/myStore.dll
/myStore/myStore/obj/Debug/net6.0/*
/myStore/myStoreDatabase/bin/Debug/myStoreDatabase.pdb
/myStore/myStore/obj/Debug/net6.0/myStore.pdb
/myStore/.vs/myStore/FileContentIndex/*
