@page
@model MyOtherStore.Pages.Account.IndexModel
@{
    //cs goes here
}
<!--html goes here-->
<br>
<form method="post">
@if (HttpContext.Session.GetString("Username") == null)
{
    <h2>Sign In / Sign Up</h2>
    <a class="btn btn-outline-primary" asp-page="/Account/Register">Sign Up</a>
    <a class="btn btn-outline-primary" asp-page="/Account/Login">Sign In</a>
}
else{
    
    <h2>Logged in as @HttpContext.Session.GetString("Username")</h2>
    <button type="submit" asp-page-handler="SignOut">Sign Out</button>
    
}
</form>
