@page
@model MyOtherStore.Pages.Account.LoginModel
@{
}
@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}
<form method="post">
    <label for="username">Username:</label>
    <input type="text" user_id="username" name="Username" />

    <label for="password">Password:</label>
    <input type="text" user_id="password" name="Password" />

    <button type="submit">Submit</button>
</form>
